<section class="layout-column flex">
    <md-toolbar class="layout-align-start-center layout-row layout-padding-md">
        <div class="logo"></div>

        <md-nav-bar class="app-nav-bar" md-selected-nav-item="$ctrl.currentStateName" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-sref="heroes" name="heroes">Герои</md-nav-item>
            <md-nav-item md-nav-sref="maps" name="maps">Карты</md-nav-item>
        </md-nav-bar>
    </md-toolbar>

    <div class="flex layout-column">
        <div class="layout-column flex" ui-view></div>
    </div>
</section>
