<section class="layout-column flex">
    <md-toolbar class="layout-align-start-center layout-row layout-padding-md">
        <div class="logo"></div>

        <md-nav-bar class="app-nav-bar" md-selected-nav-item="'heroes'" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-sref="heroes" name="heroes">Герои</md-nav-item>
        </md-nav-bar>
    </md-toolbar>

    <md-content class="layout-padding flex layout-column">
        <div class="flex" ui-view></div>
    </md-content>
</section>