<section class="app layout-column flex">
    <mat-toolbar color="primary" class="layout-align-start-center layout-row layout-padding-md">
        <div class="logo"></div>

        <a class="nav-link" href="/#/heroes" mat-button color="{{ isActiveModule('heroes') ? 'warn' : '' }}">Герои</a>
        <a class="nav-link" href="/#/maps" mat-button color="{{ isActiveModule('maps') ? 'warn' : '' }}">Карты</a>
    </mat-toolbar>

    <div class="flex layout-column">
        <router-outlet></router-outlet>
        <angularjs-router-outlet></angularjs-router-outlet>
    </div>
</section>
