/* stylelint-disable property-no-vendor-prefix */
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    background-color: #aaa;
}
/* stylelint-enable */

*:focus {
    outline: none;
}

.logo {
    background: url('../assets/images/logo.png') no-repeat;
    width: 200px;
    height: 55px;
}

.app-nav-bar {
    .md-nav-bar {
        border: none;
    }
}

.star {
    display: inline-block;
    width: 52px;
    height: 52px;
    background: url('../assets/images/star.png');

    &.empty {
        background-position: 0 -52px;
    }
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #ef6c00;
}

md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value.md-select-placeholder {
    color: #ef6c00;
    border-bottom-color: #ef6c00;
}

md-select:not([disabled]):focus .md-select-value {
    border-bottom-color: #ef6c00;
}

md-input-container.md-input-focused:not(.md-input-has-value) .md-input {
    border-bottom-color: #ef6c00;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-bottom-color: #ef6c00;
}


