// Colors
@gridHeaderNormalTextColor: #666;
@gridHeaderNormalBackgroundColor: transparent;

@gridHeaderHoverTextColor: #4d4d4d;
@gridHeaderHoverBackgroundColor: rgba(0, 0, 0, 0.06);

@gridRowNormalTextColor: #4d4d4d;
@gridRowNormalBackgroundColor: #fff;

@gridRowHoverTextColor: #4d4d4d;
@gridRowHoverBackgroundColor: rgba(0, 0, 0, 0.06);

@gridRowSelectedTextColor: #4d4d4d;
@gridRowSelectedBackgroundColor: #d8eaf7;

@gridIconNormalColor: #999;
@gridIconHoverColor: #999;
@gridIconSelectedColor: #999;

// Typography
@gridHeaderResizerWidth: 4px;

@gridPaddingRowRight: 2px;
@gridPaddingRowLeft: 2px;

@gridHeaderPaddingContent: 13px;
@gridPaddingContent: 8px;

@gridHeaderRowHeight: 32px;

@gridColumnResizerWidth: 8px;

@selectedColor: green;

// отступы заголовка колонки не совпадают с отступами ячеек колонки
.ui-grid-header-cell:not(:first-child) .ui-grid-cell-contents:not(.checkbox) {
    padding-left: @gridPaddingContent !important;
}

.ui-grid-render-container {
    position: absolute;
    top: 0;

    & .ui-grid-canvas .ui-grid-row {
        & [ui-grid-row='row'] {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &.ui-grid-render-container_header-selection {
        & .ui-grid-canvas .ui-grid-row:not(.ui-grid-row-selected) {
            & [ui-grid-row='row']:hover {
                background-color: inherit;
            }
        }
    }
}

.ui-grid-pinned-container {
    & .ui-grid-render-container-left {
        &::after {
            content: '';
            position: absolute;

            top: 0;
            right: 0;

            height: 100%;

            width: 1px;

            border-right: 1px solid #e6e6e6;
        }
    }

    & .ui-grid-canvas .ui-grid-row {
        & .ui-grid-cell:first-child {
            padding: 0;
        }
    }

    & .ui-grid-row [ui-grid-row='row'] {
        & .ui-grid-row-header-cell .ui-grid-disable-selection {
            height: 100%;

            & .ui-grid-cell-contents {
                padding: 0;
            }
        }
    }

    & .ui-grid-header .ui-grid-top-panel .ui-grid-header-cell-row .ui-grid-header-cell {
        display: block;

        padding: 0;

        &:first-child > * {
            height: 100%;

            .ui-grid-cell-contents {
                width: 100%;
                height: 100%;

                padding: 0;
            }
        }

        &.ui-grid-clearfix {
            padding: 0;
        }
    }
}

ui-grid-cell-contents.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-grid-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .ui-grid {
        flex: 1 1 auto;
        width: 100%;
        height: 100%;
        border: none;

        .ui-grid-row {
            &:last-child {
                .ui-grid-cell {
                    border-bottom-width: 0;
                }
            }
        }
    }

    .ui-grid-top-panel {
        background: transparent;
    }
}

.ui-grid-vertical-bar {
    background-color: transparent !important;
}

.ui-grid-cell {
    border: 0;
    background-color: transparent !important;
}

.ui-grid-top-panel {
    background: transparent;
}

.ui-grid-header {
    border-color: #e6e6e6;

    & .ui-grid-column-resizer.right::after {
        position: absolute;
        content: '';

        opacity: 0;

        width: 1px;
        height: 76%;

        left: calc(~'50% - 1px');
        top: 12%;

        background-color: #ccc;
    }

    &:hover {
        & .ui-grid-column-resizer.right::after {
            opacity: 1;
        }
    }

    .ui-grid-top-panel {
        color: @gridHeaderNormalTextColor;
        background: @gridHeaderNormalBackgroundColor;
        font-size: 13px;
        font-weight: normal;

        .ui-grid-header-cell-row {
            .ui-grid-sort-priority-number {
                bottom: 0;

                margin-left: 0;

                width: 7px;
                height: 12px;
                font-size: 11px;
                text-align: left;
                color: #808080;
            }
        }

        .ui-grid-header-cell {
            height: @gridHeaderRowHeight;
            padding: 0;
            vertical-align: middle;
            line-height: @gridHeaderRowHeight;
            border: none;

            &:focus {
                outline: none;
            }

            &:last-child .ui-grid-column-resizer {
                border-right: none;
            }

            & [role='button'] {
                cursor: default;
            }

            & .sortable [role='button'] {
                &::after {
                    content: '';
                    position: absolute;

                    opacity: 0;

                    width: calc(~'100% - 1px');
                    height: 100%;

                    left: -4px;
                    top: 0;

                    background-color: @gridHeaderHoverBackgroundColor;
                    cursor: pointer;
                }

                &:hover::after {
                    opacity: 1;
                }
            }

            .ui-grid-column-resizer {
                width: @gridColumnResizerWidth;
            }

            .ui-grid-cell-contents {
                padding: 0 @gridHeaderPaddingContent;
                outline: none;
                border: none;
            }

            &:first-child {
                .ui-grid-cell-contents {
                    padding-left: 16px;
                }
            }
        }
    }
}

.ui-grid-canvas {
    //Если убрать padding-top: 1px; то ломается скрол
    padding-top: 1px;
    margin-top: -1px;

    & .ui-grid-row {
        [ui-grid-row='row'] {
            display: flex;
            margin-left: @gridPaddingRowLeft;
            margin-right: @gridPaddingRowRight;
            overflow: hidden;

            &:hover {
                background-color: @gridRowHoverBackgroundColor;
            }
        }

        .ui-grid-cell {
            border-right: none;

            &:first-child {
                padding-left: @gridPaddingContent;
            }

            &.ui-grid-row-header-cell {
                border-bottom: none;
            }
        }

        &:nth-child(odd) .ui-grid-cell {
            background-color: transparent;
        }

        &:nth-child(even) .ui-grid-cell {
            background-color: transparent;
        }

        &.ui-grid-row-selected {
            > [ui-grid-row] {
                color: @gridRowSelectedTextColor;
                background-color: @gridRowSelectedBackgroundColor;

                > .ui-grid-cell {
                    background-color: transparent;
                }
            }
        }
    }
}

[class^='ui-grid-icon'],
[class*=' ui-grid-icon'] {
    &::before {
        margin-right: 0;
        margin-left: 0;
    }
}

.ui-grid-cell-contents {
    text-align: left;
    padding: 6px @gridPaddingContent 6px @gridPaddingContent;

    &.checkbox {
        text-align: center;
        padding: 0 2px 0 0;
        margin: 0;
        line-height: 2.7em;
        vertical-align: middle;
        border-left: 1px solid #d4d4d4;

        > input[type='checkbox'] {
            margin: 0;
            position: inherit;
        }
    }

    &.number {
        text-align: right;
    }

    &.float {
        text-align: right;
    }
}

.ui-grid-focuser:focus {
    box-shadow: none;
}

.ui-grid-menu-button {
    display: flex;

    //width: 32px;
    height: 32px;

    background: #fff;
    border: none;
    cursor: pointer;

    & .ui-grid-menu {
        top: 32px;

        padding: 0;

        & .ui-grid-menu-inner {
            border-radius: 3px;

            box-shadow: none;

            background-color: #fff;

            & ul li:nth-child(1),
            & ul li:nth-child(2) {
                display: none;
            }

            & .ui-grid-menu-items {
                width: 240px;

                padding: 4px 2px;
            }
        }

        .ui-grid-menu-mid {
            overflow: auto;
            max-height: none;
            border: none;
        }
    }
}

// ui-grid-column-resizer (start)

.ui-grid-column-resizer {
    position: absolute;

    top: 0;
    bottom: 0;

    width: @gridHeaderResizerWidth;

    cursor: col-resize;

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}

.ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
    border-right: 1px solid #d4d4d4;
}

.ui-grid[dir='rtl'] .ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
    border-right: 0;
}

.ui-grid[dir='rtl'] .ui-grid-header-cell:last-child .ui-grid-column-resizer.left {
    border-left: 1px solid #d4d4d4;
}

.ui-grid.column-resizing {
    cursor: col-resize;

    & .ui-grid-column-resizer.right::after {
        opacity: 1;
    }
}

.ui-grid.column-resizing .ui-grid-resize-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #aeaeae;
}

// ui-grid-column-resizer (end)
