<section class="maps-list layout-column flex layout-padding">
    Test Map State
    <!--<div class="flex layout-row layout-align-center center layout-padding" *ngIf="loadingMaps || loadingTypes">
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>

    <div *ngIf="!loadingMaps && !loadingTypes">
        <div class="layout-column" *ngFor="let type of types">
            <h3>{{ type.name }}</h3>

            <div class="layout-row layout-align-stretch-start layout-wrap">
                <mat-card class="map-card" *ngFor="let map of mapsByType[type.id]">
                    <img mat-card-image [src]="getMapImage(map.id)" class="md-card-image">
                    <mat-card-header class="flex-none">
                        <mat-card-title>
                            <span class="md-headline">{{ map.name }}</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ map.description }}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>-->
</section>
