<div class="heroes-list">
    <div class="flex layout-row layout-align-center center layout-padding" ng-if="$ctrl.loading">
        <md-progress-circular class="md-accent" md-diameter="40" md-mode="indeterminate"></md-progress-circular>
    </div>

    <md-grid-list md-cols-md="7" md-cols-gt-md="7" md-row-height="310" md-gutter="8px"  md-gutter-gt-md="16px" ng-if="!$ctrl.loading">
        <md-grid-tile class="hero-cell"
                      ng-class="{'selected': hero.id === $ctrl.selectedHeroId}"
                      ng-repeat="hero in $ctrl.heroes"
                      ng-click="$ctrl.selectHero(hero.id)">
            <div class="portrait portrait-{{hero.id}}"></div>
            <md-grid-tile-footer><h3>{{hero.name}}</h3></md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>
